.eventos{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;

    .container-eventos{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        .evento{
            width: calc(50% - 1rem);
            display: flex;
            border-radius: 32px;
            transition: 0.3s ease;
            outline: 2px solid var(--white-color);
        
            &:hover{
                outline: 2px solid var(--fucsia-color);
                cursor: pointer;
            }
            img{
                width: 100%;
                height: auto;
                border-radius: 32px;
            }
        }
    }
}

@media (max-width: 900px){
    .eventos{
        .container-eventos{
            flex-direction: column;
            align-items: center;
            gap: 1rem;
    
            .evento{
                width: 100%;
            }
        }
    }
}