.artista {
    .presentacion {
        display: flex;
        justify-content: space-between;

        .col2 {
            width: 40%;
            display: flex;
            align-self: center;
        }

        .col1 {
            width: 60%;

            h3,
            p {
                padding-bottom: 1rem;
            }

            .link {
                display: flex;
                column-gap: 0.5rem;
                margin-top: 1rem;
            }
        }
    }

        .info {
            width: 100%;
            border-radius: 32px;
            background: var(--white-color);
            box-shadow: 5px 5px 16px #56055680,
                -5px -5px 16px #44044480;
            padding: 4rem;
            display: flex;
            flex-direction: column;
            row-gap: 3rem;
            h3{
                padding-bottom: 1rem;
            }

            .fechas{
                display: flex;
                flex-direction: column;
                align-items: center;
                .fechas-container{
                    display: flex;
                    justify-content: center;
                    column-gap: 0.5rem;
                    .fecha{
                        border: 2px solid grey;
                        padding: 1rem;
                        border-radius: 12px;
                        p{
                            font-size: 1.1rem;
                        }
                        span{
                            font-weight: bold;
                        }
                    }
                }
                
            }

            .estadio{
                display: flex;
                flex-direction: column;
                align-items: center;
                img{
                    border-radius: 32px;
                    width: 60%;
                    height: auto;
                }
            }
        }
}