.noticia{
    width: 100%;
    background-color: var(--white-color);
    border-radius: 32px;
    outline: 2px solid var(--white-color);
    display: flex;

    img{
        border-radius: 32px 0px 0px 32px;
        width: 30%;
        height: auto;
        object-fit: cover;
        object-position: center;
    }

    .info{
        padding: 3rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        > *:not(:last-child) {
            padding-bottom:0.5rem;
          }
        h4{
            font-weight: bold;

        }
        p{
            font-size: 1rem;
            
            span{
                color: grey;
                font-weight: lighter;
                font-size: 1.2rem;
            }
        }
    }
}

@media (max-width: 700px){
    .noticia{
        flex-direction: column;
        img{
            border-radius: 32px 32px 0px 0px;
            width: 100%;
        }
    
        .info{
            width: 100%;
        }
    }
}