footer{
    background-image: radial-gradient(circle, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    row-gap: 1rem;
    .divisor{
        width: 100%;
        height: 0.3rem;
        background-image: radial-gradient(circle, #ff9387, #fc6361, #fc5664, #fc4767, #fb366c);
        align-self: self-start;
    }

    .text p{
        font-size: 1.1rem;
        text-align: center;
        color: var(--white-color);

    }

    img{
        height: 10vh;
    }
    
}