:root{
    --fucsia-color: #fb366c;
    --turquoise-color: #0095f6;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --peach-color: #fb6f60;
}


*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url(/public/7509871_3676909.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

html, body {
    height: 100%;
    width: 100%;
}
    
a { text-decoration: none; }
    
p{ font-size: 1.3rem; }
h1 {
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
}
h2 { font-size: 3rem;}
h3 { font-size: 2rem;  }
h4 { font-size: 1.5rem;  font-weight: lighter;}
button, a { font-size: 1.2rem; }
button{
    background-color: transparent;
    outline: none;
    border: none;
}

html {font-size: var(--font-size-small-mobile);}
@media (min-width: 425px) { html {font-size: var(--font-size-mobile);} }
@media (min-width: 600px) { html {font-size: var(--font-size-tablet);} }
@media (min-width: 1240px) { html {font-size: var(--font-size-laptop);} }
@media (min-width: 1400px) { html {font-size: var(--font-size-desktop);} }
@media (min-width: 1900px) { html {font-size: var(--font-size-large-desktop);} }
@media (min-width: 2500px) { html {font-size: var(--font-size-huge-desktop);} }

.shadows{
    box-shadow: 
    5px 5px 16px #56055680,
    -5px -5px 16px #44044480;

}