.homepage{
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
    padding-bottom: 4rem;
    margin-top: 2rem;
    

    .container-info, .grid-fotos{
        width: 100%;
    }

    .grid-fotos > .div-foto {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 32px;

        &:hover{
            cursor: pointer;
            padding: 0.2rem;
            transition: 0.5s;
            border-radius: 32px;
            img{
                outline: 1px solid white;
            }
        }
    }

    .grid-fotos > div > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 32px;
        box-shadow:  5px 5px 16px #680768bf,
        -5px -5px 16px #c515c53f;

    }
    .grid-fotos{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-auto-rows: 200px;
        grid-auto-flow: dense;

        .img{
            max-width: 100%;
            height: auto;
            vertical-align: middle;
            display: inline-block;
        }

        .wide{
            grid-column: span 2;
        }

        .tall{
            grid-row: span 2;
            grid-column: span 2;
        }

        .big{
            grid-column: span 2;
            grid-row: span 2;
        }

        .normal{
            grid-row: span 1;
            grid-column: span 1;
        }
    }
}

@media (max-width: 700px){
    .homepage{
        row-gap: 2rem;
        width: 90vw;
        
        .container-info{
            display: flex;
            flex-direction: column;
            row-gap: 2rem;
            width: 100%;
        }
    }
}

@media (min-width: 700px){
    .homepage{
        .container-info{
            display: flex;
            justify-content: center;
            column-gap: 3%;
        }
    }
}

